:root {
    --dark: #00b69e;
    --light: #b3ffeb;
}

body {
    background-color: #2a2a2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px 20px;
}

h1 {
    font-size: 200%;
    color: var(--dark);
}

 h2 {
    border: 5px solid var(--light);
    padding: 10px 10px;
    color: var(--dark);
    border-radius: 8px;
    font-size: 150%;
}

h3 {
    color: beige;
    padding: 20px;
    border-radius: 25px;
    background: var(--dark);
    font-weight: 100;
    line-height: 1.5;
}

p {
    margin: 20px 20px;
    font-size: 1.25;
    color: var(--light);
}

footer {
    text-align: center;
    font-size: 150%;
    font-weight: 800;
    padding: 20px;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.first-row {
    border: 3px dashed var(--dark);
    padding: 10px;
    width: 375px;
    height: 310px;
}

.second-row {
    border: 3px dashed var(--dark);
    padding: 10px;
    width: 375px;
    height: 450px;
}

#text-center {
    margin: 25px 200px;
    text-align: center;
    line-height: 1.5;
}


