:root {
    --dark: #00b69e;
    --light: #b3ffeb;
}

body {
    background-color: #2a2a2a;
}

header {
    text-align: center;
    margin: 20px 20px;
}

h1 {
    font-size: 200%;
    color: var(--dark);
}

 h2  {
    border: 5px solid var(--light);
    padding: 10px 10px;
    color: var(--dark);
    border-radius: 8px;
    margin-right: 150px;
    font-size: 150%;
}

h3 {
    color: beige;
    padding: 20px;
    background-color: var(--dark);
    font-weight: 100;
}

p {
    margin: 20px 20px;
    color: var(--light);
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-row,
.flexbox-column,
.css-grid {
    border: 3px dashed var(--dark);
}

#text-center {
    margin: 25px 200px;
    text-align: center;
    line-height: 1.5;
}