/* Variables for colors used multiple times */
:root {
    --dark: #00b69e;
    --light: #b3ffeb;
    --darkgrey:  #2a2a2a;
}

/* Background color and font family for 'body' portion */
body {
    background-color: var(--darkgrey);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Text align and margin for 'header' */
header {
    text-align: center;
    margin: 20px 20px;
}

/* Font size and color for 'h1' */
h1 {
    font-size: 200%;
    color: var(--dark);
}

/* /Border, padding, text color, border radius, font size, background color for all 'h2' */
 h2 {
    border: 5px solid var(--light);
    padding: 10px 10px;
    color: var(--dark);
    border-radius: 8px;
    font-size: 150%;
    background-color: var(--darkgrey);
}

/* Text color, padding, border radius, background gradient, font family, size and weight, */
/* line height, white space and overflow for all 'pre' elements */
pre {
    color: beige;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(
        rgba(0, 182, 158, 0.3) 0%,
        rgba(0, 182, 158, 0.6) 100% 
    );
    font-family: monospace;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow: auto;
}

/* Margin, font size and text color for all 'p' elements */
p {
    margin: 20px 20px;
    font-size: 20px;
    color: var(--light);
}

/* Text align, font size & weight and padding for 'footer' */
footer {
    text-align: center;
    font-size: 150%;
    font-weight: 800;
    padding: 20px;
}

/* Display, width, justify content, align items and padding for class 'flex-container' */
.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

/* Display, flex wrap, flex direction and margin left & right for class 'row' */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

/* Outline, padding, width and min height for classes 'card-box' */
.card-box {
    outline: 3px dashed var(--dark);
    padding: 10px;
    width: 375px;
    min-height: 100%;
}

/* Display, flex direction, justify content, min height and margin top & bottom for class 'card-box' */
.card-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Margin, text align and line height for id 'text-center' */
#text-center {
    margin: 25px 150px;
    text-align: center;
    line-height: 1.5;
}

/* Pseudo class to highlight 'pre' elements */
.flex-container pre:active {
    user-select: all;
    color: var(--darkgrey)
  }

/* Pseudo class to have border for outline and border for h2 to glow on hover  */
.card-header:hover,  
.card-box:hover {
    box-shadow: inset 0px 0px 10px var(--light), 0 0 20px var(--light);
}

/* To have 'h2' header overlap top of outline */
.card-header {
    position: relative;
    margin-top: -40px;
  }

/* Changes text color for 'h1' 'h2' 'p' & 'pre' when screen is between 769px and 992px */
 @media  screen and (max-width: 992px) {
    h1,
    h2,
    p,
    pre {
        color: lightyellow;
    }

 }

 /* Changes text color for 'h1' 'h2' 'p' & 'pre' when screen is less than 768px */
 @media  screen and (max-width: 768px) {
    h1,
    h2,
    p,
    pre {
        color: lightpink;
    }
 }